# Environments
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Database
iqautojobs.db

# Python
__pycache__/

# Node
npm_output.log
frontend/node_modules/
frontend/.next/
frontend/out/

# Logs
gunicorn_output.log

# Jules
jules-scratch/
